#tarjeta-login{
    border-radius: 10px;
    margin-top: 140px;
    margin-bottom: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.37); /* Personaliza la sombra según tus preferencias */
}

ion-card-header{
    background-color: #EA9010;
    font-size: 25px;
    text-align: center;
    color: white;
}

  