ion-range {
    width: 80%;
    margin: 0 auto;
  }
  
  .tiempos {
    text-align: center;
    margin-top: 10px;
    font-size: 0.8em;
  }

  .audio-info {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .nombre-audio {
    font-size: 1.2em;
  }
  
  .tiempo-transcurrido {
    font-size: 1em;
  }